In [1]:
import pandas as pd

In [2]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
df = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv')

In [3]:
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df2 = df.drop(df.index[[17,22]]) # we see that row 17 and 22 do not have any values -> drop them

In [5]:
df2

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [6]:
df2.isnull().sum().sum() # total number of NaN values

3

In [7]:
df2.isnull().sum() # how many NaN do we have in each columns

id            1
full_name     0
first_name    0
last_name     0
email         1
gender        1
age           0
dtype: int64

In [8]:
df2['gender'][5] = 'Male' # the name first_name Hasty let's us assume that it is a male

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df2

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [10]:
 df2.isnull().sum() # how many NaN do we have in each columns left

id            1
full_name     0
first_name    0
last_name     0
email         1
gender        0
age           0
dtype: int64

In [11]:
# what to do with missing mail

In [12]:
df2 = df2.drop(df2.index[[14]]) # drop one Eden Wace since it is a duplicate row

In [13]:
df2

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [14]:
df2 = df2.reset_index(drop=True)

In [15]:
df2

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
16,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
17,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
18,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
19,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [16]:
df2['id'] = df2.index + 1

In [17]:
df2

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
16,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
17,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
18,19,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
19,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [18]:
df2.dtypes # check types of columns

id             int64
full_name     object
first_name    object
last_name     object
email         object
gender        object
age           object
dtype: object

In [19]:
df2['age'][9] = 0 # set to number, we will set it later
df2

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,0
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
16,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
17,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
18,19,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
19,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [20]:
df2[['id','age']] = df2[['id','age']].apply(pd.to_numeric) # change id and age to numeric
df2['age'] = df2['age'].abs() # to get rid of the negative age
df2

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,0
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
16,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,78
17,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
18,19,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
19,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [21]:
df2['age'][9] = df2['age'].where(df2['age'] >  75).mean() # assign average of 'old' (here older than 75)
df2

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,80
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
16,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,78
17,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
18,19,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
19,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [22]:
# Kerianne Goacher still has no email
# (1) drop the row and reindex again (see above)
# (2) set an email we are not sure about if it'S correct - but we could use the data for some use cases
# (3) keep as is becaue it might not have been collected or she does not have an email